<app-user-menu></app-user-menu>
<div class="content">
  <form [formGroup]="searchForm" class="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Filter by name or city</mat-label>
      <input matInput formControlName="nameCity" (keyup)="loadMuseums()" />
    </mat-form-field>
  </form>
  <table mat-table [dataSource]="museums" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Museum</th>
      <td mat-cell *matCellDef="let museum">{{ museum.name }}</td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let museum">{{ museum.type }}</td>
    </ng-container>
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let museum">{{ museum.city }}</td>
    </ng-container>
    <ng-container matColumnDef="museum_details">
      <th mat-header-cell *matHeaderCellDef>See details</th>
      <td mat-cell *matCellDef="let museum">
        <button
          mat-mini-fab
          color="primary"
          (click)="goToMuseumDetails(museum.id)"
        >
          <mat-icon
            ><span class="material-symbols-outlined"> details </span></mat-icon
          >
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="news">
    <mat-card *ngFor="let card of news">
      <a href="{{ card.link }}" target="_blank">
        <h2>{{ card.title }}</h2>
      </a>
      <h5>
        <i>{{ card.pubDate }}</i>
      </h5>
      <p>{{ card.content }}</p>
    </mat-card>
  </div>
</div>
