<div class="content">
  <form [formGroup]="registrationForm" class="form">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Surname</mat-label>
      <input matInput formControlName="surname" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" pattern="^[^@#//]*$" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        formControlName="password"
        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$"
        [type]="hidePassword ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePassword = !hidePassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword"
      >
        <mat-icon>{{
          hidePassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Confirm password</mat-label>
      <input
        matInput
        formControlName="confirmPassword"
        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$"
        [type]="hideConfirmPassword ? 'password' : 'text'"
        [errorStateMatcher]="matcher"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideConfirmPassword = !hideConfirmPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideConfirmPassword"
      >
        <mat-icon>{{
          hideConfirmPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      <mat-error *ngIf="registrationForm.hasError('notSame')">
        Not valid format
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        formControlName="email"
        [errorStateMatcher]="matcher"
        placeholder="Ex. pat@example.com"
      />
      <mat-error
        *ngIf="
          registrationForm.controls['email'].hasError('email') &&
          !registrationForm.controls['email'].hasError('required')
        "
      >
        Please enter a valid email address
      </mat-error>
      <mat-error
        *ngIf="registrationForm.controls['email'].hasError('required')"
      >
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onSubmit(registrationForm)"
      [disabled]="registrationForm.invalid"
    >
      Register
    </button>
  </form>
  <div class="loginRegisetrSwitch">
    Already have account? <a [routerLink]="['/login']"> Log In </a>
  </div>
</div>
